*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  line-height: 1;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-rendering: optimizeSpeed;
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

::-moz-placeholder {
  opacity: 1;
}

textarea {
  vertical-align: top;

  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* styles */

header {
  width: 550px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding: 12.5px 20px;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

header img {
  width: 150px;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
  height: 100%;
  width: 120px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.scores p {
  letter-spacing: 1px;
  color: hsl(229, 64%, 46%);
}

.user-score {
  font-weight: 700;
  font-size: 50px;
  color: hsl(229, 25%, 31%);
}

main div {
  display: flex;
  align-items: center;
}

.objects {
  height: 400px;
  display: flex;
  align-items: start;
  top: 0px;
}
.circle {
  padding: 20px;
  clip-path: circle();
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle:hover {
  cursor: pointer;
}

.white-bg {
  padding: 25px;
  clip-path: circle();
  background-color: #fff;
  box-shadow: inset 0px 7px 2px rgb(198, 198, 198);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.objects img {
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
  height: auto;
}

.white-bg img {
  width: 70px;
}
.rock {
  background: linear-gradient(260deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: inset 0px -8px 2px hsl(349, 56%, 46%);
}
.paper {
  background: linear-gradient(260deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: inset 0px -8px 2px hsl(230, 51%, 47%);
}
.scissors {
  background: linear-gradient(260deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: inset 0px -8px 2px hsl(40, 74%, 43%);
}

/* responsive */

/* tabrlet */
@media only screen and (max-width: 600px) {
  header {
    width: 450px;
    margin: 40px;
    padding: 12.5px 15px;
  }
  header img {
    width: 135px;
  }
  .scores {
    width: 100px;
  }
}
/* mobile */
@media only screen and (max-width: 375px) {
  header {
    width: 400px;
    height: 100px;
    margin: 25px;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  header img {
    width: 100px;
  }
  .scores {
    width: 80px;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  .scores p {
    font-size: 12.5px;
  }
  .user-score {
    font-size: 40px;
  }
}
