*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  line-height: 1;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-rendering: optimizeSpeed;
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

::-moz-placeholder {
  opacity: 1;
}

textarea {
  vertical-align: top;

  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* styles */

header {
  width: 550px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px 0px 30px;
  padding: 12.5px 20px;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
header img {
  width: 150px;
}
.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
  height: 100%;
  width: 120px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.scores p {
  letter-spacing: 1px;
  color: hsl(229, 64%, 46%);
}
.user-score {
  font-weight: 700;
  font-size: 50px;
  color: hsl(229, 25%, 31%);
}
main div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.level-one {
  display: flex;
  flex-direction: column;
}
.guide {
  color: #fff;
  font-size: 25px;
  padding: 35px 10px;
  letter-spacing: 0.5px;
  text-align: center;
}
.objects {
  height: 370px;
  display: flex;
  align-items: flex-start;
}
.circle {
  padding: 20px;
  clip-path: circle();
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.circle:hover {
  cursor: pointer;
}
.white-bg {
  padding: 35px;
  clip-path: circle();
  background-color: #fff;
  box-shadow: inset 0px 7.5px 2px rgb(209, 209, 209);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.objects img {
  max-width: 65px;
  height: 70px;
}
.white-bg img {
  width: 70px;
}
.rock {
  align-self: end;
  background: linear-gradient(260deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: inset 0px -9px 2px hsl(349, 56%, 46%);
}
.paper {
  background: linear-gradient(260deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: inset 0px -9px 2px hsl(230, 51%, 47%);
  margin-right: -50px;
}
.scissors {
  background: linear-gradient(260deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: inset 0px -9px 2px hsl(40, 74%, 43%);
  margin-left: -50px;
}
.background-triangle {
  position: absolute;
  width: 500px;
  margin-top: 100px;
}
footer {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.rules {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 25px;
  margin: 30px 50px;
  border-radius: 5px;
}
.modal {
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 2s;
  -webkit-transition: all s;
  -moz-transition: all s;
  -ms-transition: all s;
  -o-transition: all s;
}
.modal-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.modal-content__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}
.modal-content__details span {
  font-size: 25px;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
}
.modal-content__details img {
  width: 25px;
  padding: 5px;
}
.modal-content__details img:hover {
  cursor: pointer;
}

/* responsive */

/* tablet */
@media only screen and (max-width: 600px) {
  header {
    width: 90%;
    margin: 40px 40px 0px 40px;
    padding: 12.5px 15px;
  }
  header img {
    width: 135px;
  }
  .scores {
    width: 100px;
  }
  .objects {
    height: 290px;
  }
  .objects img {
    max-width: 55px;
    height: 60px;
  }
  .circle {
    padding: 15px;
  }
  .guide {
    font-size: 20px;
    width: 350px;
  }
  .white-bg {
    padding: 25px;
  }
  .background-triangle {
    position: absolute;
    width: 300px;
    margin-top: 150px;
  }
  footer {
    justify-content: center;
  }
}
/* mobile */
@media only screen and (max-width: 375px) {
  header {
    width: 90%;
    height: 100px;
    margin: 25px 25px 0px 25px;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  header img {
    width: 100px;
  }
  .scores {
    width: 80px;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  .scores p {
    font-size: 12.5px;
  }
  .user-score {
    font-size: 40px;
  }
  .objects {
    height: 240px;
  }
  .objects img {
    max-width: 45px;
    height: 50px;
  }
  .circle {
    padding: 10px;
  }
  .guide {
    width: 300px;
  }
  .background-triangle {
    width: 230px;
    margin-top: 150px;
  }
}
