*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  line-height: 1;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-rendering: optimizeSpeed;
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

::-moz-placeholder {
  opacity: 1;
}

textarea {
  vertical-align: top;

  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* styles */

header {
  width: 550px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding: 12.5px 20px;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

header h2 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.5px;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
  height: 100%;
  width: 120px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.scores p {
  letter-spacing: 1px;
  color: hsl(229, 64%, 46%);
}

.user-score {
  font-weight: 700;
  font-size: 50px;
  color: hsl(229, 25%, 31%);
}

/* responsive */

/* tabrlet */
@media only screen and (max-width: 600px) {
  header {
    width: 450px;
    margin: 40px;
    padding: 12.5px 15px;
  }
  header h2 {
    padding-left: 10px;
  }
  .scores {
    width: 100px;
  }
}
/* mobile */
@media only screen and (max-width: 375px) {
  header {
    width: 400px;
    height: 100px;
    margin: 25px;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  header h2 {
    font-size: 20px;
    padding-left: 10px;
  }
  .scores {
    width: 80px;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  .scores p {
    font-size: 12.5px;
  }
  .user-score {
    font-size: 40px;
  }
}
